# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    email = 12177862+BennyW23@users.noreply.github.com
    name = Benny Wong
[core]
    autocrlf = input
[alias]
    co = checkout
    com = commit -m
    d = diff
    ec = config --global -e
    s = status
    main = "!f() { git checkout `git remote show origin | sed -n '/HEAD branch/s/.*: //p'`;}; f"
    reset-origin = reset --hard @{u}
    undo = reset HEAD~1 --mixed
    tree = log --oneline --decorate --all --graph
